:root {
  /* colors general */
  --color__brown--dark: #554B2D;
  --color__brown--middle: #837345;
  --color__brown--light: #DAD1B8;
  --color__black: #101010;
  --color__white: #f0f0f0;

  /* colors detail */
  --color__background: var(--color__white);
  --color__text: var(--color__black);
  --color__header--background: var(--color__brown--dark);
  --color__header--text: var(--color__white);
  --color__button: var(--color__black);

  /* sizes */
  --header-height: 100px;
  --footer-height: 100px;

  /* Lineheight */
  --line-height-default: 5px;
}
