.grundlagen {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px 20px;
  }

  &__element {
    display: flex;
    flex-direction: column;

    label {
      width: 100%;
      font-size: 0.6rem;
      margin-bottom: 2px;
    }
  }
}

.beschreibung-element {
  grid-column-start: 1;
  grid-column-end: 3;
}

.volk-element {
  &__btn {
    text-align: left;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
  }

  &__select {
    margin-bottom: 20px;
  }
}
