.attributs {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 40px;
  }
}

@media (max-width: $breakpoint-md) {
  .attributs {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .attributs {
    &__content {
      grid-template-columns: 1fr;
    }
  }
}
