.attributs {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 40px;
  }
}

@media (max-width: $breakpoint-md) {
  .attributs {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &__container {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .attributs {
    &__content {
      display: flex;
      flex-direction: column;
    }
  }
}
