.condition {
  &__content {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 40px;
  }

  &__wrapper,
  &__list-item {
    display: flex;
    gap: 10px;
  }

  &__btn--alternative {
    background-color: var(--color__btn-background--alternative);
  }
}

@media (max-width: $breakpoint-lg) {
  .condition {
    &__content {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .condition {
    &__content {
      grid-template-columns: 1fr;
    }
  }
}
