.condition {
  &__content {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 40px;
  }
}

@media (max-width: $breakpoint-lg) {
  .condition {
    &__content {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .condition {
    &__content {
      grid-template-columns: 1fr;
    }
  }
}
