:root {
  --color__white: #f0f0f0;
  --color__black: #101010;
  --color__brown--dark: #554b2d;
  --color__brown--middle: #837345;
  --color__brown--light: #dad1b8;
  --color__one: #f6cd26;
  --color__two: #ac6b26;
  --color__three: #393939;
  --color__four: #202020;
  --color__background: var(--color__three);
  --color__text: var(--color__one);
  --color__scrollbar-thumb: var(--color__one);
  --color__scrollbar-thumb--hover: var(--color__two);
  --color__scrollbar-background: var(--color__four);
  --color__heading--text: var(--color__one);
  --color__heading--border: var(--color__one);
  --color__btn-background: var(--color__four);
  --color__btn-background--disabled: rgba(0, 0, 0, 0.2);
  --color__btn-text: var(--color__one);
  --color__btn--hover: var(--color__two);
  --color__btn--focuse: var(--color__two);
  --color__modal-background: var(--color__three);
  --color__modal-x-btn: var(--color__one);
  --color__modal-text: var(--color__three);
  --color__modal-text--hover: var(--color__two);
  --color__nav-background: var(--color__four);
  --color__nav-menu-background: var(--color__three);
  --color__nav-text: var(--color__one);
  --color__nav-text--hover: var(--color__two);
  --section-max-widht: 970px;
  --section-header-height: 40px;
  --line-height-default: 8px;
  --height__nav: 100px;
  --zIndex__navbar: 500;
  --zIndex__modal: 1000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color__background);
  color: var(--color__text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

h1,
h2 {
  background-color: var(--color__heading--background);
  color: var(--color__heading--text);
  padding: 2px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

.invisible {
  display: none !important;
}

button,
textarea,
input,
select {
  --transition-time: 0.2s;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--color__btn-background);
  color: var(--color__btn-text);
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
  outline: none;
  text-align: left;
  transition-property: border-color padding;
  transition-duration: var(--transition-time);
}
button:hover:enabled,
textarea:hover:enabled,
input:hover:enabled,
select:hover:enabled {
  border-color: var(--color__btn-text);
}
button:disabled,
textarea:disabled,
input:disabled,
select:disabled {
  background-color: var(--color__btn-background--disabled);
  box-shadow: none;
}
button:focus, button:focus-visible,
textarea:focus,
textarea:focus-visible,
input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
}

label {
  width: 100%;
  font-size: 0.6rem;
  margin-bottom: 3px;
}

select {
  margin-bottom: 20px;
}

option {
  background-color: var(--color__select-background);
}

.symbol-btn {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  padding: 0;
}
.symbol-btn i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
  padding-right: 20px;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: var(--color__scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color__scrollbar-thumb);
  border-radius: 30px;
  border: 5px solid var(--color__scrollbar-background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color__scrollbar-thumb--hover);
}

.attributs__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 40px;
}

.attribut {
  display: flex;
  gap: 10px;
}

.skills__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 40px;
}
.skills__container {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 40px;
}
.skills__container h3 {
  margin: 0;
}

.skill {
  display: flex;
  gap: 10px;
}

.grundlagen__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px 20px;
}
.grundlagen__element {
  display: flex;
  flex-direction: column;
}

.beschreibung-element {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - var(--height__nav) - 40px);
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: calc(var(--height__nav) + 40px);
}
.main__new-hero-btn {
  height: 60px;
  max-width: 300px;
  text-align: center;
  margin: auto;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: var(--zIndex__modal);
  --animation-time: 0.2s;
}
.modal h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color__text);
}
.modal__background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: opacity var(--animation-time);
  opacity: 0;
}
.modal__box {
  background-color: var(--color__modal-background);
  width: 100%;
  max-width: 500px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: transform var(--animation-time);
  transform: translateX(110vw);
}
.modal__content {
  padding: 0 15px 30px 15px;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 650px;
  overflow: auto;
}
.modal__x-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 20px;
  margin: 0;
  margin-left: auto;
  transition: transform 0.2s;
  background-color: var(--color__modal-x-btn);
  color: var(--color__modal-text);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.modal__x-btn:hover {
  transform: scale(1.15);
}

.modal__fade-in .modal__background {
  opacity: 1;
}
.modal__fade-in .modal__box {
  transform: translateX(0);
}

.section {
  width: 100%;
  max-width: var(--section-max-widht);
  margin: auto;
  margin-top: 30px;
}
.section__header {
  height: calc(var(--section-header-height) + 2px);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--color__heading--text);
  border-bottom: 2px solid var(--color__heading--border);
}
.section__header h1 {
  width: 100%;
}
.section__plus-btn, .section__edit-btn {
  box-shadow: none;
  line-height: 0;
  height: var(--section-header-height);
  width: var(--section-header-height);
  background-color: transparent;
  border: none;
  transition-property: color, transform;
  transition-duration: 0.2s;
}
.section__plus-btn:hover, .section__edit-btn:hover {
  color: var(--color__btn--hover);
  transform: scale(1.4);
}

.talents__volkstalent-btn {
  display: none;
}
.talents__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.talents__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 40px;
}
.talents__container h3 {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  margin-left: 5px;
}

.talents-modal__container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 40px;
}
.talents-modal__container h3 {
  margin: 0;
}

.talent {
  display: flex;
  gap: 10px;
}
.talent__main-btn {
  white-space: nowrap;
  overflow: hidden;
}

.modal h3 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.modal .talente__container {
  grid-template-columns: 1fr;
  gap: 10px 10px;
  margin-top: 10px;
}

.modal__textfield {
  margin-bottom: 10px;
}

.flaws-modal {
  display: grid;
  gap: 10px;
}
.flaws-modal__schwaeche {
  display: flex;
  gap: 10px;
}
.flaws-modal__main-btn {
  white-space: nowrap;
  overflow: hidden;
}
.flaws-modal__plus-btn {
  height: 100%;
}

.flaws__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 40px;
}

.flaw {
  display: flex;
  gap: 10px;
}
.flaw__main-btn {
  white-space: nowrap;
  overflow: hidden;
}

.states__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.states__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.states__list-item {
  display: flex;
  gap: 10px;
}
.states__squares {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.states__main-btn {
  max-width: 300px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: var(--height__nav);
  z-index: var(--zIndex__navbar);
  background-color: var(--color__nav-background);
  border-top: 4px solid var(--color__nav-text);
}
.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
.navbar__btn i:before {
  font-size: 1.6rem;
}
.navbar__btn:hover {
  transform: scale(1.2);
  color: var(--color__nav-text--hover);
}

.delete-hero-modal {
  margin-top: 20px;
}
.delete-hero-modal__btns {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.modal__new-hero-btn {
  margin-top: 20px;
  padding: 20px;
}
.modal hr {
  margin: 10px 0;
  border: 1px solid var(--color__nav-text);
}
.modal ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal li {
  display: flex;
  gap: 10px;
}/*# sourceMappingURL=index.css.map */