.attribute {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
  }
}

.attribut {
  display: flex;
  gap: 10px;

  &__main {
    aspect-ratio: unset;
    width: 100%;
    line-height: normal;
    padding-left: 10px;
    text-align: left;
  }

  &__btn {
    height: 100%;
    aspect-ratio: 1/1;
  }
}
