.states {
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 40px;
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 40px;
  }

  &__list-item {
    display: flex;
    gap: 10px;
  }

  &__btn--alternative {
    background-color: var(--color__btn-background--alternative);
  }
}
