@import "./consumables/consumables";
@import "./money/money";
@import "./items/items";

.inventory {
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
