.section {
  max-width: 970px;
  margin: auto;
  margin-top: 30px;

  &__header {
    height: calc(var(--section-header-height) + 2px);
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    color: var(--color__heading--text);
    border-bottom: 2px solid var(--color__heading--border);

    h1 {
      width: 100%;
    }
  }

  &__plus-btn,
  &__edit-btn {
    box-shadow: none;
    line-height: 0;
    height: var(--section-header-height);
    width: var(--section-header-height);
    background-color: transparent;
    border: none;
    transition: color 0.2s;

    &:hover {
      color: var(--color__btn--hover);
    }
  }
}
