:root {
  --color__white: #f0f0f0;
  --color__black: #101010;
  --color__brown--dark: #554b2d;
  --color__brown--middle: #837345;
  --color__brown--light: #dad1b8;
  --color__one: #f6cd26;
  --color__two: #ac6b26;
  --color__three: #393939;
  --color__four: #202020;
  --color__background: var(--color__three);
  --color__text: var(--color__one);
  --color__heading--text: var(--color__one);
  --color__heading--border: var(--color__one);
  --color__btn-background: var(--color__four);
  --color__btn-background--disabled: rgba(0, 0, 0, 0.2);
  --color__btn-text: var(--color__one);
  --color__btn--hover: var(--color__two);
  --color__modal-background: var(--color__three);
  --color__modal-x-btn: var(--color__one);
  --color__modal-text: var(--color__three);
  --color__modal-text--hover: var(--color__two);
  --section-header-height: 40px;
  --line-height-default: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  background-color: var(--color__background);
  color: var(--color__text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}

main {
  position: relative;
  min-height: calc(100vh - var(--header-height));
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

h1,
h2 {
  background-color: var(--color__heading--background);
  color: var(--color__heading--text);
  padding: 2px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

button,
textarea,
input,
select {
  --transition-time: 0.2s;
  width: 100%;
  padding: 5px 10px;
  background-color: var(--color__btn-background);
  color: var(--color__btn-text);
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
  outline: none;
  text-align: left;
  transition-property: border-color padding;
  transition-duration: var(--transition-time);
}
button:hover:enabled,
textarea:hover:enabled,
input:hover:enabled,
select:hover:enabled {
  border-color: var(--color__btn-text);
}
button:disabled,
textarea:disabled,
input:disabled,
select:disabled {
  padding-left: 0;
  background-color: var(--color__btn-background--disabled);
  box-shadow: none;
}
button:focus, button:focus-visible,
textarea:focus,
textarea:focus-visible,
input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: none;
}

select {
  margin-bottom: 20px;
}

option {
  background-color: var(--color__select-background);
}

.invisible {
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
}
.modal__background {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.modal__box {
  background-color: var(--color__modal-background);
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 500px;
  max-height: 700px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.modal__content {
  margin: 0 15px 30px 15px;
}
.modal__x-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-bottom-left-radius: 20px;
  margin: 0;
  margin-left: auto;
  transition: transform 0.2s;
  background-color: var(--color__modal-x-btn);
  color: var(--color__modal-text);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.modal__x-btn:hover {
  transform: scale(1.15);
}

.section {
  max-width: 970px;
  margin: auto;
  margin-top: 30px;
}
.section__header {
  height: calc(var(--section-header-height) + 2px);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: var(--color__heading--text);
  border-bottom: 2px solid var(--color__heading--border);
}
.section__edit-btn {
  box-shadow: none;
  line-height: 0;
  height: var(--section-header-height);
  width: var(--section-header-height);
  background-color: transparent;
  border: none;
  transition: color 0.2s;
}
.section__edit-btn:hover {
  color: var(--color__btn--hover);
}

.grundlagen__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px 20px;
}
.grundlagen__element {
  display: flex;
  flex-direction: column;
}
.grundlagen__element label {
  width: 100%;
  font-size: 0.6rem;
  margin-bottom: 2px;
}

.beschreibung-element {
  grid-column-start: 1;
  grid-column-end: 3;
}

.attribute__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 40px;
}

.attribut {
  display: flex;
  gap: 10px;
}
.attribut__plus-btn, .attribut__minus-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 0;
}
.attribut__plus-btn i, .attribut__minus-btn i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fertigkeiten__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 40px;
}
.fertigkeiten__container {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 40px;
}

.fertigkeit {
  display: flex;
  gap: 10px;
}
.fertigkeit__plus-btn, .fertigkeit__minus-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 0;
}
.fertigkeit__plus-btn i, .fertigkeit__minus-btn i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merkmale ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.talente__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 40px;
}

.talent {
  display: flex;
  gap: 10px;
}
.talent__minus-btn {
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 0;
}
.talent i {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */