.modal {
  @include display-flex-center;
  position: fixed;
  inset: 0;
  z-index: var(--zIndex__modal);
  --animation-time: 0.2s;

  h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid var(--color__text);
  }

  &__background {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);

    transition: opacity var(--animation-time);
    opacity: 0;
  }

  &__box {
    background-color: var(--color__modal-background);
    width: 100%;
    max-width: 500px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    transition: transform var(--animation-time);
    transform: translateX(110vw);
  }

  &__content {
    padding: 20px 15px 20px 15px;
    height: fit-content;
    max-height: 70vh;
    overflow: auto;
  }

  &__x-btn {
    @include display-flex-center;
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 20px;
    margin: 0;

    margin-left: auto;
    transition: transform 0.2s;

    background-color: var(--color__modal-x-btn);
    color: var(--color__modal-text);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.modal__fade-in {
  .modal__background {
    opacity: 1;
  }

  .modal__box {
    transform: translateX(0);
  }
}
