button {
  border: none;
  border-radius: 0;
  color: var(--color__button-text);
  background-color: transparent;
  transition: transform 0.3s;

  &:hover {
    color: var(--color__button-text--hover);
  }

  &:focus-visible {
    outline: none;
  }
}

.invisible {
  display: none;
}
