.schwaechen-modal {
  display: grid;
  gap: 10px;

  &__schwaeche {
    display: flex;
    gap: 10px;
  }

  &__main-btn {
    white-space: nowrap;
    overflow: hidden;
  }

  &__plus-btn {
    height: 100%;
  }
}
