.schwaechen-modal {
  display: grid;
  gap: 10px;

  &__schwaeche {
    display: flex;
    gap: 10px;
  }

  &__main-btn {
    white-space: nowrap;
    overflow: hidden;
  }

  &__plus-btn {
    height: 100%;
  }
}

.schwaechen__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 40px;
}

.schwaeche {
  display: flex;
  gap: 10px;

  &__main-btn {
    white-space: nowrap;
    overflow: hidden;
  }
}
