.main {
  @include display-flex-center;
  flex-direction: column;
  position: relative;
  height: fit-content;
  margin-bottom: calc(var(--height__nav) + 40px);

  &__new-hero-btn {
    height: 60px;
    max-width: 300px;
    text-align: center;
    margin: auto;
  }
}
