.inventory {
  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &__sub-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__plus-btn {
    width: 35px;
  }
}
