.inventory {
  &__container:empty {
    display: none !important;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__sub-header {
    display: flex;
    justify-content: space-between;
  }

  &__plus-btn {
    width: 35px;
  }
}
