.money {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__first-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  &__second-row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  &__value {
    width: 100%;

    @media (max-width: $breakpoint-md) {
      text-align: center;
    }
  }
}
