.inventory__tools {
  .inventory {
    &__labels {
      list-style: none;
      margin-bottom: 5px;

      li {
        padding-left: 2px;
        font-size: 0.6rem;
      }
    }

    &__labels,
    &__item {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 7fr 35px;
      gap: 10px;
      flex-wrap: wrap;

      @media (max-width: $breakpoint-md) {
        grid-template-columns: 4fr 1fr 1fr 35px;
      }
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px 40px;

      @media (max-width: $breakpoint-md) {
        gap: 10px 20px;
      }
    }

    &__description {
      @media (max-width: $breakpoint-md) {
        grid-column: 1 / span 3;
      }
    }

    &__labels :nth-child(3) {
      @media (max-width: $breakpoint-md) {
        display: none;
      }
    }
  }
}
