.inventory__tools {
  .inventory {
    &__labels {
      list-style: none;

      li {
        font-size: 0.6rem;
      }
    }

    &__labels,
    &__item {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 7fr 35px;
      gap: 10px;
      flex-wrap: wrap;
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px 40px;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .items {
    &__labels,
    &__item {
      grid-template-columns: 4fr 1fr 1fr;

      &-description {
        grid-column: 1 / span 3;
      }

      &--edit {
        grid-template-columns: 4fr 1fr 1fr;

        .items__item-description {
          grid-column: 1 / span 2;
        }
      }
    }

    &__description-label {
      display: none;
    }

    &__item-delete-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
