:root {
  // ============================== color general
  --color__white: #f0f0f0;
  --color__black: #101010;

  --color__brown--dark: #554b2d;
  --color__brown--middle: #837345;
  --color__brown--light: #dad1b8;

  --color__one: #f6cd26;
  --color__two: #ac6b26;
  --color__three: #393939;
  --color__four: #202020;

  // ============================== color details
  --color__background: var(--color__three);
  --color__text: var(--color__one);

  --color__scrollbar-thumb: var(--color__one);
  --color__scrollbar-thumb--hover: var(--color__two);
  --color__scrollbar-background: var(--color__four);

  --color__heading--text: var(--color__one);
  --color__heading--border: var(--color__one);

  --color__btn-background: var(--color__four);
  --color__btn-background--alternative: var(--color__brown--dark);
  --color__btn-background--disabled: rgba(0, 0, 0, 0.2);
  --color__btn-text: var(--color__one);
  --color__btn--hover: var(--color__two);
  --color__btn--focuse: var(--color__two);

  --color__modal-background: var(--color__three);
  --color__modal-x-btn: var(--color__one);
  --color__modal-text: var(--color__three);
  --color__modal-text--hover: var(--color__two);

  --color__nav-background: var(--color__four);
  --color__nav-menu-background: var(--color__three);
  --color__nav-text: var(--color__one);
  --color__nav-text--hover: var(--color__two);

  // ============================== sizes
  --section-max-widht: 970px;
  --section-header-height: 40px;
  --line-height-default: 8px;
  --height__nav: 100px;

  // ============================== z-index
  --zIndex__navbar: 500;
  --zIndex__modal: 1000;
}
