.hero-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -100%;
  border-top: 4px solid var(--color__nav-text);
  background-color: var(--color__nav-menu-background);
  transition-property: bottom;
  transition-duration: 0.4s;

  &__container {
    @include display-flex-center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }

  &__hero-container {
    @include display-flex-center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    border-top: 2px solid var(--color__nav-text);
    margin-top: 10px;
    padding-top: 10px;
  }

  &__hero-btn {
    width: 100%;
    display: flex;
    gap: 10px;

    &--active {
      border-color: var(--color__btn--focuse);
    }

    &--load {
      width: 100%;
    }

    &--delete {
      width: fit-content;
      aspect-ratio: 1/1;
    }
  }

  &--active {
    bottom: 0%;
  }
}

.delete-hero-modal {
  margin-top: 20px;

  &__btns {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
}
