*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color__background);
  color: var(--color__text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
}

h1,
h2 {
  background-color: var(--color__heading--background);
  color: var(--color__heading--text);
  padding: 2px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}

.invisible {
  display: none !important;
}
