:root {
  /* colors general */
  --color__brown--dark: #554b2d;
  --color__brown--middle: #837345;
  --color__brown--light: #dad1b8;
  --color__black: #101010;
  --color__white: #f0f0f0;
  /* colors detail */
  --color__background: var(--color__white);
  --color__text: var(--color__black);
  --color__header--background: var(--color__black);
  --color__header--text: var(--color__white);
  --color__heading--background: var(--color__brown--dark);
  --color__heading--text: var(--color__white);
  --color__button-background: var(--color__brown--dark);
  --color__button-background--hover: var(--color__brown--middle);
  --color__button-text: var(--color__white);
  /* sizes */
  --header-height: 100px;
  --footer-height: 100px;
  /* Lineheight */
  --line-height-default: 8px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  width: 100%;
  background-color: var(--color__header--background);
  color: var(--color__header--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grundlagen ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.attribute__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
}
.attribute__attribut {
  display: flex;
  gap: 10px;
}
.attribute p {
  width: 100%;
}

.fertigkeiten ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.fertigkeiten ul ul {
  grid-template-columns: repeat(1, 1fr);
}
.fertigkeiten ul ul li {
  padding: 0 10px;
}
.fertigkeiten ul ul li:first-child {
  padding: 0;
}

.merkmale ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section-header {
  --height: 40px;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  background-color: var(--color__heading--background);
  color: var(--color__heading--text);
}
.section-header__button {
  border: 0;
  height: var(--height);
  width: var(--height);
  background-color: transparent;
}

button {
  line-height: 0;
  height: 100%;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 0;
  color: var(--color__button-text);
  background-color: var(--color__button-background);
}
button:hover {
  background-color: var(--color__button-background--hover);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

body {
  background-color: var(--color__background);
  color: var(--color__text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: var(--header-height);
  min-height: 100vh;
}

main {
  position: relative;
  min-height: calc(100vh - var(--header-height));
}

section {
  max-width: 970px;
  margin: auto;
  margin-top: 30px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 400;
}

h1,
h2 {
  background-color: var(--color__heading--background);
  color: var(--color__heading--text);
  padding: 2px 10px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.1rem;
}/*# sourceMappingURL=main.css.map */